<template>
<div class="app-content">
    <div id="map" style="width:100%;height:300px"></div>
    <ul class="app-inputs">
        <li v-for="error in errors" :key="error.id">
            <div class="alert alert-danger">
                {{error}}
            </div>
        </li>
    </ul>
    <ul class="app-inputs">
        <div class="app-input-group">
            <input class="form-control app-input" type="text" v-model="startingPoint" placeholder="Location address" id="app-input0">
        </div>
    </ul>
    <button class="app-large-btn btn btn-primary" @click="go" id="app-submit">GO</button>
    <div v-if="results_received">
        <h3>Search Results:</h3>
        <div v-if="availableLots.length > 0" id="app-results-table">
            <table class="table">
                <thead>
                    <th scope="col">Address</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Lots</th>
                    <th scope="col">Price/h</th>
                </thead>
                <tbody>
                    <template v-for="value in availableLots">
                        <tr>
                            <th scope="row">{{value.address}}</th>
                            <td>{{value.distance}}</td>
                            <td>{{value.freeLots}}</td>
                            <td>{{value.price}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</div>
</template>

<script>
import axios from "axios";
import {Socket} from 'phoenix-socket'

export default {
    data: function() {
        return {
            map: null,
            geocoder: null,
            startingPoint : '',
            messages: "",
            loc: null,
            directionsRenderer: null,
            directionsService: null,
            errors: [],
            availableLots: [],
            results_received: false
        }
    },
    methods: {
        go: function () {
            this.results_received = true;
            //alert("WORKS!");
            axios.get("/api/lots/location", {
                    params: {
                        location: this.startingPoint
                    }
                })
                .then(response => {
                    //console.log(response)
                    this.availableLots = response.data.lots;

                }).catch(error => {
                    console.log("Something went wrong");
                });
        },

        init: function () {

            navigator.geolocation.getCurrentPosition(position => {
                console.log(position.coords);
                this.loc = {lat: position.coords.latitude, lng: position.coords.longitude};
                this.geocoder = new google.maps.Geocoder;
                this.geocoder.geocode({location: this.loc}, (results, status) => {
                    if (status === "OK" && results[0])
                        this.startingPoint = results[0].formatted_address;
                });
                this.map = new google.maps.Map(document.getElementById('map'), {zoom: 14, center: this.loc});
                new google.maps.Marker({position: this.loc, map: this.map, title: "Pickup address"});
            });

            this.directionsService = new google.maps.DirectionsService();
            this.directionsRenderer = new google.maps.DirectionsRenderer();

            //Autocompletion logic
            let options = {
                    types: ['address'],
                    componentRestrictions: {country: "ee"}
            };

            this.autocomplete0 = new google.maps.places.Autocomplete(
                (document.getElementById('app-input0')),
                options
            );

            this.autocomplete0.addListener('place_changed', () => {
                let place = this.autocomplete0.getPlace();
                this.startingPoint= place.formatted_address;
            });
        }
    },

    mounted: function () {
        this.init();
    },
    updated: function() {
    }
}
</script>

<style>

    .app-inputs {
        list-style: none;
        padding-left: 0;
    }

    .app-content {
        position: relative;
    }

    .app-input-group {
        position: relative;
        margin-bottom: 0.3em;
    }

    .app-icon {
        cursor: pointer;
    }

    .app-large-btn {
        width: 100%;
        height: 3em;
        margin-bottom: 0.3em;
    }

    html, body {
        height: 100%;
        background-color: #f3f0ff;
    }

    .app-container {
        background-color: #FEFCFD;
        box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
        width: 70%;
        margin: 2em auto;
        padding: 1em;
    }

    .app-estimation {
        background-color: #E7ECF3;
        border-radius: 5px;
        font-size: smaller;
        padding: 0.7em;
    }

    .app-est {
        float: left;
        width: 50%;
    }

    ul.app-inputs .alert {
        margin-bottom: 0.3em;
    }

</style>
